process {
    executor = 'local'
    errorStrategy = 'retry'
    maxRetries = 1
    beforeScript = 'source /home/tata/miniconda3/etc/profile.d/conda.sh || source ~/miniconda3/etc/profile.d/conda.sh || true'
}

conda {
    enabled = true
    useMamba = false
    conda = '/home/tata/miniconda3/bin/conda'
}

profiles {
    standard {
        process.executor = 'local'
    }
}
